{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@/config/*": [
        "src/config/*"
      ],
      "@/contexts/*": [
        "src/contexts/*"
      ],
      "@/tests/*": [
        "tests/*"
      ]
    }
  },
  "minify": false
}